<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15501436176-8uhdcf4abd230n9hg3hn7hosnp6lduh2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15501436176-8uhdcf4abd230n9hg3hn7hosnp6lduh2</string>
	<key>API_KEY</key>
	<string>AIzaSyBtbKPSrd2S2ysXGRJIyOOqxg-QFWkbCpw</string>
	<key>GCM_SENDER_ID</key>
	<string>15501436176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>df.pebbl</string>
	<key>PROJECT_ID</key>
	<string>pebbl-d4c81</string>
	<key>STORAGE_BUCKET</key>
	<string>pebbl-d4c81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15501436176:ios:b6ba5785d924f4f6ebb195</string>
	<key>DATABASE_URL</key>
	<string>https://pebbl-d4c81.firebaseio.com</string>
</dict>
</plist>